{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='resultadosBusqueda.css') }}">
    
</head>
<body>
    <div id="resultados-busqueda" class="container">
        <!-- Aquí se mostrarán los resultados de la búsqueda -->
    </div>
    <script src="{{ url_for('static', filename='js/busquedaProductos.js') }}"></script>
</body>
</html>
{% endblock %}
