<section class="productos-index">
    <article class="contenedor">
        <h2>Catalogo de Nuestros Equipales</h2>
        <h3 class="cursiva">Los mejores equipales te esperan...</h3>
        <!--Tarjetas-->

        <div class="container-card">

            <div class="card">
                <figure>
                    <img src="static/img/NewImages/2.jpeg">
                </figure>
                <div class="contenido-card">
                    <h3>Comedores</h3>
                    <p>En nuestro menú de equipales para comedores, encontrarás una variedad de opciones que se adaptarán a tus necesidades y gustos. </p>
                    <a href="{{ url_for('equipales.comedores') }}">Ver Más</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="static/img/NewImages/8.jpeg">
                </figure>
                <div class="contenido-card">
                    <h3>Asientos</h3>
                    <p>Descubre la elegancia rústica de nuestros equipales, elaborados con madera de alta calidad y asientos de cuero tejido a mano. Disfruta de la comodidad, estilo y artesanía impecable en estos muebles únicos.</p>
                    <a href="{{ url_for('equipales.products') }}">Ver Más</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="static/img/NewImages/12.jpeg">
                </figure>
                <div class="contenido-card">
                    <h3>Salas</h3>
                    <p>Nuestro menú de salas, donde encontrarás el confort y el estilo que estás buscando para tu hogar. Nuestra selección de salas combina diseño innovador, materiales de alta calidad y detalles cuidadosamente elaborados para brindarte un espacio acogedor y elegante.</p>
                    <a href="{{ url_for('equipales.salas') }}">Ver Más</a>
                </div>
            </div>

        </div>
        <div class="container-card">

            <div class="card">
                <figure>
                    <img src="static/img/presentacion/img19.jpeg">
                </figure>
                <div class="contenido-card">
                    <h3>Barras Periqueras</h3>
                    <p>Las barras pueden ser rectas, curvas o en forma de L, dependiendo del tamaño y el estilo.</p>
                    <a href="{{ url_for('equipales.barrasPeriqueras') }}">Ver Más</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="static/img/NewImages/11.jpeg">
                </figure>
                <div class="contenido-card">
                    <h3>Especiales</h3>
                    <p>Hechos a mano con materiales naturales y duraderos, los equipales especiales son un testimonio del Arte en Equipales Casillas.</p>
                    <a href="{{ url_for('equipales.especiales') }}">Ver Más</a>
                </div>
            </div>
            <div class="card">
                <figure>
                    <img src="static/img/NewImages/1.jpeg">
                </figure>
                <div class="contenido-card">
                    <h3>Mesas</h3>
                    <p>Las mesas en Equipales Casillas están hechas de madera y cuero, y son fabricadas a mano por artesanos mexicanos en Zacoalco de Torres, Jal.</p>
                    <a href="{{ url_for('equipales.mesas') }}">Ver Más</a>
                </div>
            </div>

        </div>
        <!--Fin Tarjetas-->
    </article>
</section>

<section class="video-pres">
    <div class="video-container">
        <iframe width="660" height="315" src="https://www.youtube.com/embed/9KpZIAV0BgE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</section>

<div class="contenedor-promociones">
    <div class="tarjeta-promo">
      <img src="/static/img/presentacion/Promociones/primerPromo.jpeg" alt="Promoción Especial 1">
      <h2>Promoción Especial: ¡Descuento!</h2>
      <p>¡Aprovecha nuestra promoción especial por tiempo limitado!</p>
      <a href="/promocion-detail?id=43" class="boton">Ver Detalles</a>
    </div>
    <div class="tarjeta-promo">
      <img src="/static/img/promo3.jpg" alt="Promoción Especial 2">
      <h2>Promoción Especial 2: ¡Descuento!</h2>
      <p>¡Aprovecha nuestra promoción especial por tiempo limitado!  ¡No te lo pierdas!</p>
      <a href="#" class="boton">Ver Detalles</a>
    </div>
  </div>

