main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

article {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
article p {
  text-align: justify;
}


article img {
  max-width: 100%;
  height: auto;
  margin: 0 auto; /* Centra la imagen horizontalmente */
  display: block; /* Hace que la imagen ocupe todo el ancho disponible */
  margin-bottom: 20px;
}

.intro {
  font-size: 1.2rem;
  font-weight: bold;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

.iframe-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Altura del 100% del viewport (pantalla) */
}
