/* Establece un contenedor para los productos con display flex y flex-wrap */
#resultados-busqueda {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Ajusta según tu preferencia */
}

/* Establece el estilo de cada producto en la cuadrícula */
.product {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 300px; /* Ancho fijo del producto */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: scale(1.05);
}

.product h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.product img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
}

.product p {
    font-size: 16px;
    margin-bottom: 8px;
}

.product .ver-detalles {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.product .ver-detalles:hover {
    background-color: #45a049;
}
