
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');


/* Estilos para pantalla grande */
.hero-image {
height: 80vh;
background: url(banner-12.jpg);
background-size: cover;
background-position: center 80%;
padding: 2em;
color: #fff;
text-shadow: 0px 0px 4px #000;
font-family: 'Roboto', Arial, Helvetica, sans-serif;
display: flex;
flex-direction: column; /* Cambiado a columna para poner el párrafo abajo */
justify-content: flex-end; /* Alinéalo al final */
align-items: center; /* Centra horizontalmente */
margin-bottom: 20px; /* Ajusta la cantidad de espacio que deseas en la parte inferior */
}

.hero-image h1 {
font-size: 72px;
margin: 0px;
text-shadow: 0px 0px 4px #000;
}

.hero-image p {
font-size: 24px;
text-shadow: 0px 0px 2px #000;
}

.text-description img {
display: block;
margin-left: auto;
margin-right: auto;
}

.text-description h2 {
text-align: center;
padding-top: 20px;
font-family: 'Roboto Slab', sans-serif;
color: #0F1111;
font-size: 40px;
font-weight: 700;
padding-bottom: 8px;
}

.text-description {
background-color: #f8f8f8;
padding: 40px;
border: 1px solid #ccc;
border-radius: 30px 10px 30px 10px;
width: 80%;
max-width: 600px;
margin: 0 auto;
margin-bottom: 50px;
}

.p-descrip {
text-align: justify;
color: #333;
font-size: 18px;
font-family: 'Montserrat', sans-serif;
letter-spacing: 1px;
line-height: 1.5;
margin: 20px 0;
color: #777;
margin-bottom: 30px;
}

/* Estilos para pantallas pequeñas (móviles) */
@media screen and (max-width: 600px) {
.hero-image {
  height: 50vh;
  padding: 1em;
  background-position: center 50%;
  background-size: cover;
  background-image: url(banner-4.jpeg);
  margin-bottom: 20px; /* Ajusta la cantidad de espacio que deseas en la parte inferior */
}

.hero-image h1 {
  display: none;
}

.hero-image p {
  display: block;
  /* margin-bottom: 20px; Agregado para ajustar el espacio entre el título y el párrafo */
}

.text-description {
  padding: 20px;
}

.text-description h2 {
  font-size: 28px;
}

.p-descrip {
  font-size: 16px;
}
}






/*.content-gallery {
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;
box-sizing: border-box;
min-height: 100vh;
background: #000;
}

.gallery {

position: relative;
width: 300px;
height: 200px;
transform-style: preserve-3d;
animation: animate 60s linear infinite;
animation-play-state: running;
}

.gallery:hover {
animation-play-state: paused;
}

@keyframes animate {
0%{transform: perspective(1000px) rotateY(0deg );}
100%{ transform: perspective(1000px) rotateY(360deg);}
}

.gallery span {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
transform-origin: center;
transform-style: preserve-3d;
transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
-webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.gallery img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius: 10px;
object-fit: cover;
cursor: pointer;
}*/


