@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* El resto de tus estilos a continuación */
.terms-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}


/* Estilo para los títulos principales */
h1 {
    font-size: 28px;
    text-align: center;
    margin-top: 0;
}

h3 {
    font-size: 24px;
    margin-top: 20px;
}

/* Estilo para párrafos */
p {
    margin: 10px 0;
}

/* Estilo para listas */
ul {
    margin-left: 20px;
}

li {
    margin-bottom: 5px;
}



/* Estilo para dispositivos móviles */
@media (max-width: 768px) {
    .terms-container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }
}
